*.exe
*.rar
*.zip
*.dbg
*.ico
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.dof
*.ppu
*.bak
*.local
*.identcache
*.stat
*.lps

lib/
backup/
project?
demo
__history/
Win32/
Win64/
Debug/
