tatbutton BITMAP "res\\tatbutton.bmp"
tatlabellink BITMAP "res\\tatlabellink.bmp"
tatlistbox BITMAP "res\\tatlistbox.bmp"
tatpanelcolor BITMAP "res\\tatpanelcolor.bmp"
tatpanelsimple BITMAP "res\\tatpanelsimple.bmp"
tatstatus BITMAP "res\\tatstatus.bmp"
