tatbutton BITMAP "res\\tatbutton.bmp"
tatflattoolbar BITMAP "res\\tatbuttonstoolbar.bmp"
tatlabellink BITMAP "res\\tatlabellink.bmp"
tatlistbox BITMAP "res\\tatlistbox.bmp"
tatpanelcolor BITMAP "res\\tatpanelcolor.bmp"
tatpanelsimple BITMAP "res\\tatpanelsimple.bmp"
tatscrollbar BITMAP "res\\tatscroll.bmp"
tatstatus BITMAP "res\\tatstatus.bmp"
tatgauge BITMAP "res\\tgauge.bmp"
